/* src/styles/_base.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--fs-body);
  color: var(--text-primary);
  
}

button,
input,
select,
textarea {
  font: inherit;
}
