<div class="page">
  <header class="page__header">
    <h1 class="page__title">Work Orders</h1>

    <app-timescale-select
      [value]="timescale"
      (valueChange)="onTimescaleChange($event)"
    ></app-timescale-select>
  </header>

  <app-timeline-viewport
  [timescale]="timescale"
  [orders]="orders"
  (editOrder)="onEditOrder($event)"
  (deleteOrder)="onDeleteOrder($event)"
  (createOrder)="onCreateOrder($event)"
  ></app-timeline-viewport>


  <app-work-order-panel
  [open]="panelOpen"
  [mode]="panelMode"
  [initial]="selectedOrder"
  [workCenterId]="panelMode === 'create' ? createContext?.workCenterId : selectedOrder?.workCenterId"
  [prefillStartDateIso]="createContext?.startDateIso"
  [existingOrders]="orders"
  (close)="onClosePanel()"
  (save)="onSaveOrder($event)"
  ></app-work-order-panel>

</div>
