<div class="timeline">
    <div class="timeline__left">
      <div class="timeline__leftHeader">Work Center</div>
  
      <div class="timeline__leftRows">
        <div
          class="timeline__leftRow"
          *ngFor="let wc of workCenters"
          (click)="onRowSelect(wc.id)"
        >
          {{ wc.name }}
        </div>
      </div>         
    </div>
  
    <div class="timeline__right">
      <div class="timeline__scroll" #timelineScroll>
        <div class="timeline__scrollContent">
          <div class="timeline__header">
            <div class="timeline__cell" *ngFor="let col of columns">
              {{ col.label }}
            </div>
          </div>
      
          <div class="timeline__rows">
            <div
              class="timeline__row"
              *ngFor="let wc of workCenters"
              (click)="onRowSelect(wc.id)"
            >
              <div class="timeline__cell" *ngFor="let col of columns"></div>
          
              <app-work-order-bar
                *ngFor="let order of getRenderableOrdersForCenter(wc.id); trackBy: trackByOrderId"
                [order]="order"
                [left]="getLeft(order)"
                [width]="getWidth(order)"
                (edit)="onEditOrder($event)"
                (delete)="onDeleteOrder($event)"
              ></app-work-order-bar>
            </div>
          </div>                  
        </div>
      </div>      
    </div>
  </div>
  